<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <div class="input-group col-md-12" style="text-align: center">
                                    <input type="text" class="" placeholder="Search With Retailer id"  name="retailer_Id" [(ngModel)]="retailer_Id"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" (click)="findRetailersById()">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
    </div>
    </div>

<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Retailer Name</th>
            <th>Retailer Id</th>
            <th>Building No</th>
            <th>City</th>
            <th>State</th>
            <th>Field</th>
            <th>Zip</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let retailer of retailers ; let i = index">
            <td>{{retailer.retailer_Name}}</td>
            <td>{{retailer.retailer_Id}}</td>
            <td>{{retailer.buildingNo}}</td>
            <td>{{retailer.city}}</td>
            <td>{{retailer.state}}</td>
            <td>{{retailer.field}}</td>
            <td>{{retailer.zip}}</td>

            <td class="text-center">
                <button class="btn btn-danger btn-xs" (click)="removeRetailer(retailer.retailer_Id)"><span class="glyphicon glyphicon"></span> Delete</button>
                <a class="btn btn-danger btn-xs" (click)="update(i)" routerLink="/update"><span class="glyphicon glyphicon"></span>Update</a>
            </td>
        
        </tr>
    </tbody>
    </table>
    </div>
</div>



